<nav class="navbar navbar-default">
  <div class="container-fluid">

    <ul class="nav navbar-nav">
      <li *ngFor="let tab of dashboards">
        <gridster-dashboard-tab [tabName]="tab.name" [(tabActive)]="activeTab" (onActivedTab)="onActivedTab($event)"></gridster-dashboard-tab>
      </li>
      <li class="dropdown-toggle">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
          <span class="glyphicon glyphicon-plus"></span>
        </a>
        <ul class="dropdown-menu">
            <li role="presentation"><input type="text" class="form-control" [(ngModel)]="newDashboardName"></li>
            <li role="presentation"><button (click)="onAddDashboard()" >Ajouter</button></li>
        </ul>
      </li>
    </ul>
     <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Ajouter widget<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a (click)="onAddWidgetClick('meteo')">Météo</a></li>
            <li><a (click)="onAddWidgetClick('horaire')">Horaire</a></li>
            <li><a (click)="onAddWidgetClick('list')">Tâches à faire</a></li>
          </ul>
        </li>
      </ul>
  </div>
</nav>
