
.dropdown:hover .dropdown-menu {
    display: block;
}

.AddWidgetBtn {
    margin-right: 20px;
}

.dropdown-menu-item {
    cursor:pointer;
}

.dropdown-menu {
  padding: 0 0;
}

.btn {
  width: 100%;
  border: 1px transparent;
}
