<div class="panel panel-warning">
  <div class="panel-heading">
    <gridster-widget-header (itemRemoved)="removeItem($event)" [name]='name'></gridster-widget-header>
  </div>
  <div class="panel-body">
    <div class="header">
      <input type="text" id="myInput" placeholder="Title...">
      <span onclick="newTask()" class="addBtn">Ajouter</span>
    </div>
    <ul>
      <li>S'inscrire au gym</li>
      <li>Payer la fature d'universite</li>
      <li>Commencer les lectures de l'APP4</li>
      <li>Faire le devoir d'Ethique</li>
      <li>Faire le devoir d'Ethique</li>
      <li>Faire le devoir d'Ethique</li>
      <li>Faire le devoir d'Ethique</li>
      <li>Faire le devoir d'Ethique</li>
      <li>Faire le devoir d'Ethique</li>
      <li>Faire le devoir d'Ethique</li>
      <li>Faire le devoir d'Ethique</li>
    </ul>
  </div>
</div>