/* You can add global styles to this file, and also import other style files */
@import "~fullcalendar/dist/fullcalendar.min.css";

html, body {
  height: 100vh;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  font-family: 'Helvetica Neue', Arial, sans-serif;
  background-color: whitesmoke;
}

.navbar {
  margin-bottom: 0px;
}
