<gridster-opus-navbar></gridster-opus-navbar>
<div class="page-header">
  <a class="pull-right btn btn-primary" (click)="addItem()" title="Add widget">
      <form  style="background-color:coral, 200px;">
        <select name="nom" size="1">
        <option>Horaire
        <option>Meteo
        <option>Liste ToDo
        </select>
      </form>
  </a>

	<a class="pull-right btn btn-primary" (click)="addItem()" title="Add widget">
    <i class="glyphicon glyphicon-plus">
    </i>
     Add Widget
  </a>
	<h1 style="display: inline-block; width: 200px;">Dashboard</h1>
</div>

<gridster-dashboard-tabs [(dashboards)]="dashboards" (onNewDashboard)="onNewDashboard($event)"></gridster-dashboard-tabs>

<gridster [options]="options">
  <gridster-item [item]="item" *ngFor="let item of widgets">
    <div class="box" ng-controller="CustomWidgetCtrl">
    <div class="box-header">
      <h3>Widget</h3>
					<div class="box-header-btns pull-right">
						<a title="Remove widget" (click)="removeItem($event, item)"><i class="glyphicon glyphicon-trash"></i></a>
					</div>
    </div>
    </div>
  </gridster-item>
</gridster>


