<gridster-opus-navbar></gridster-opus-navbar>

<div class="page-header">
  <h1 style="display: inline-block; width:200px">Dashboard</h1>

  <a class="dropdown">
    <button class="drop-btn"><b>+ Add Widget</b></button>
    <div class="dropdown-content">
      <a (click)="addItem()">Météo</a>
      <a (click)="addItem()">Horarius</a>
      <a (click)="addItem()">ToDoList</a>
    </div>
  </a>
</div>


<gridster [options]="options">
  <gridster-item [item]="item" *ngFor="let item of dashboard">
    <div class="box" ng-controller="CustomWidgetCtrl">
    <div class="box-header">
      <h3>Widget</h3>
					<div class="box-header-btns pull-right">
						<a title="Remove widget" (click)="removeItem($event, item)"><i class="glyphicon glyphicon-trash"></i></a>
					</div>
    </div>
    </div>
  </gridster-item>
</gridster>


