<gridster-opus-navbar></gridster-opus-navbar>

<gridster-dashboard-tabs [(dashboards)]="dashboards" (onNewDashboard)="onNewDashboard($event)" (onChangeActiveTab)="onChangeActiveTab($event)"></gridster-dashboard-tabs>

<div class="page-header">
  <a class="dropdown">
    <button class="drop-btn"><b>+ Add Widget</b></button>
    <div class="dropdown-content">
      <a (click)="addItem('Météo','meteo')">Météo</a>
      <a (click)="addItem('Horaire','horaire')">Horarius</a>
      <a (click)="addItem('ToDoList','list')">ToDoList</a>
    </div>
  </a>
</div>

<gridster [options]="options">
  <gridster-item [item]="item" *ngFor="let item of widgets">
    <div class="box" ng-controller="CustomWidgetCtrl">
      <div class="box-header">
        <h3>{{ item.name }}</h3>
            <div class="box-header-btns pull-right">
              <a title="Remove widget" (click)="removeItem($event, item)"><i class="glyphicon glyphicon-trash"></i></a>
            </div>
      </div>
      <gridster-widget-meteo *ngIf="item.wtype == 'meteo'"></gridster-widget-meteo>
    </div>
  </gridster-item>
</gridster>


