.weather-icon {
    font-size: 48px;
}
.weather-container {
    margin:0px 0 0 0;
    width:50%;
}
.Weather-ActualLocation {
    font-size: x-large;
    font-weight: lighter;
    color: #878787;
}
.Weather-Date, .Weather-Name, .Weather-Informations {
    font-size: medium;
    font-weight: lighter;
    color: #878787;
}
.Weather-Name:first-letter {
  text-transform: capitalize;
}
.top-container {
    display:flex;
}
.half-container{
    width:50%;
} 
.left-container{
    float:left;
}
.right-container{
    float:right;
}
.full-container{
    width:100%;
}

.gridster-item-content {
  padding:10px;
}
