.weather-icon {
    font-size: 48px;
}
.weather-container {
    margin:0px 0 0 0;
}
.Weather-ActualLocation {
    font-size: x-large;
    font-weight: lighter;
    color: #878787;
}
.Weather-Date, .Weather-Name, .Weather-Informations {
    font-size: medium;
    font-weight: lighter;
    color: #878787;
}
.Weather-Name:first-letter {
  text-transform: capitalize;
}
