<div class="container-fluid custom-modal-container">
  <div class="row custom-modal-header">
    <div class="col-sm-12">
      <h1>Nouvelle horaire</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <div class="jumbotron">
        <p class="lead">I received an injection of the number <strong>{{context.name}}</strong> and the number <strong>{{context.num2}}</strong><strong> name : {{context.name}}</strong></p>
        <span>Nom</span>
        <input class="form-control" type="text" ng-model="context.name">
        <span>{{context.name}}</span>
      </div>
    </div>
  </div>
</div>
